<app-nav></app-nav>
<app-products> </app-products>

<!-- <p><input type="text" [(ngModel)]="imgParent"></p>
<button (click)="toggleImg()">Toggle Image</button>
<p>{{showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr> -->



<!-- <h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" required id="name" name="name"[(ngModel)]="register.name">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" required id="email" name="email" [(ngModel)]="register.email">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" required id="password" name="password"[(ngModel)]="register.password">
    <p>Mensaje de error</p>
  </div>
  <button type="submit" [disabled]="myForm.invalid">Registrar</button>
  <button type="button">Accion</button>
</form>


<hr>
<h1>NGClass</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput.invalid "> El campo es requerido</p>
<hr class="line-error"
[ngClass]="{
    'valid': nameInput.valid,
    'invalid':  nameInput.invalid

  }">
<hr>
<h1>Class style</h1>
<p>{{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput.invalid "> El campo es requerido</p>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p  [style.font-style]="nameInput2.invalid ? 'italic' : 'normal'"> Texto texto texto</p>
<hr>  
<h1>NGMODEL</h1>
<p>{{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>valid: {{nameInput.valid}}</p>
<p>{{person.age}}</p>
<input type="number" max="18" min="10" #ageInput="ngModel" [(ngModel)]="person.age">
<p>valid: {{ageInput.valid}}</p>
<hr ngFor>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">toggleButton</button>
<p>Edad {{person.age}}</p>
<button (click)="increseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate architecto quisquam pariatur, voluptatem qui excepturi modi sequi quod molestiae, quas officiis beatae! Debitis, earum voluptatibus doloribus voluptatum molestias eum aut?Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia soluta laborum hic cum accusamus quidem deserunt illo magni reprehenderit blanditiis perferendis, praesentium perspiciatis eos veritatis minima, dolore quos nemo sapiente.</p>
</div>
<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text " [value]="person.name" (keyup)="changueName($event)">
<progress max="100" [value]="person.age"></progress>
<hr>
<h1>{{'Hola mundo '.repeat(5)}}</h1>
<h3>{{person.name}} y {{age}}</h3> -->